<div class="row">
  <input type="hidden" formControlName="id" />
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <strong>¿Confirma la eliminación del registro?</strong>
        {{ nombre }}
      </div>
    </div>
    <div class="row">
      <div class="col sm-12">
        <button class="btn green" (click)="EliminarRegistro()">
          Confirmar
        </button>
        &nbsp;
        <a class="btn red" routerLink="/admin/listar-tipo-inmueble">Cancelar</a>
      </div>
    </div>
  </form>
</div>
